RTMP_HOST=0.0.0.0
RTMP_PORT=1935
API_HOST=0.0.0.0
API_PORT=8081
MEDIA_DIR=./data
HLS_SEGMENT_DURATION=4
HLS_SEGMENTS_KEEP=10
RECORDING_ENABLED=true
THUMBNAIL_SIZES=320,480
THUMBNAIL_INTERVAL_SECONDS=10
# Thumbnails are generated in WebP format
RECORDINGS_BASE_URL=/recordings
STREAM_GRACE_PERIOD_SECONDS=30
RECORDING_REMUX_ENABLED=false
RECORDING_REMUX_CONCURRENCY=2
